<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/blog-content.css" />
    <link rel="stylesheet" href="/public/assets/css/navbar.css" />
    <!-- cdn fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- link boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <!-- navbar -->
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fs-5 fixed-top">
      <div class="container">
        <a class="navbar-brand me-5" href="#">
          <img src="/public/assets/images/brandred.png" alt="Bootstrap" width="45" height="34" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add-project">Add project</a>
            </li>
          </ul>
          <div class="d-flex">
            <button class="button-custom-nav">
              <a href="/contact-me" style="text-decoration: none; color: white">Contact Me</a>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- akhir navbar -->
    <!-- akhir navbar -->
    <div class="container container-article">
      <div class="title-article">
        <h1 class="text-center fs-1">Mobile Web App 2021</h1>
      </div>
      <div class="header-section row py-3 gap-1 mb-3">
        <div class="col-md-6 header-section-left">
          <img src="/public/assets/images/blog-img-detail.png" alt="" class="img-fluid" />
        </div>
        <div class="col-md-5 header-section-right">
          <div class="duration px-5">
            <h4 class="fs-3 mb-3">duration</h4>
            <div class="duration-date">
              <h5 class="fs-5"><i class="fa-regular fa-calendar-days"></i> 12 jan 2021 - 11 feb 2021</h5>
            </div>
            <div class="duration-month">
              <h5 class="fs-5"><i class="fa-solid fa-clock"></i> 1 month</h5>
            </div>
          </div>
          <div class="technologies mt-5 px-5">
            <div class="mb-3">
              <h4 class="fs-3">technologies</h4>
            </div>
            <div class="div d-flex gap-4 flex-wrap gap-2">
              <div class="technologies-left-side">
                <h5 class="mb-4 fs-4"><i class="fa-brands fa-react"></i> react js</h5>
                <h5 class="fs-4"><i class="fa-brands fa-node-js"></i> node js</h5>
              </div>
              <div class="technologies-right-side">
                <h5 class="mb-4 fs-4"><i class="fa-brands fa-golang"></i> golang</h5>
                <h5 class="fs-4"><i class="fa-brands fa-laravel"></i> laravel</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-section text-wrap">
        <p class="fs-6 text-capitalize text-sm-start">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur libero similique vel corrupti sint sequi atque
          voluptatum dolor eos quia nulla ipsum unde, natus repellat illo facilis rerum commodi, possimus exercitationem quam?
          Itaque consequuntur exercitationem, modi quis alias, et voluptates porro asperiores autem nam quidem expedita. Quas modi
          voluptatem libero dolorem voluptatum commodi, fugiat rem facilis repellendus totam illum doloribus vel nulla praesentium
          iusto! Nihil assumenda aut ullam, quaerat voluptatibus nesciunt dolore repellendus unde ipsa rerum. Fugit suscipit,
          culpa eos voluptatum amet quibusdam quasi tempora aperiam architecto aspernatur nulla ipsam magnam nisi quos itaque
          voluptas adipisci ducimus velit dignissimos sequi soluta. Est accusantium laboriosam vitae at suscipit sed commodi nobis
          voluptates voluptatibus repellendus eligendi perspiciatis magni possimus, ipsa beatae nihil minus ipsam, blanditiis
          soluta officia fugit! Mollitia nesciunt dolor eveniet suscipit temporibus veniam modi enim. Cumque omnis adipisci
          repellendus. Reprehenderit in illo neque, fuga nam magnam, voluyptatibus enim debitis vel ea qui temporibus maiores
          veniam? Laborum repellat hic labore laudantium nam rerum sapiente temporibus amet iste eos mollitia exercitationem
          ducimus cumque quisquam, ex vitae unde itaque dolores, numquam, reiciendis quaerat. Cupiditate dolorem illum quae vero.
          Magnam error iusto quasi, ipsam cum distinctio impedit ea optio maxime, eius, nulla provident nam veniam repellendus
          magni incidunt laudantium accusantium odio dignissimos inventore voluptatem ullam? Eum officiis magni veritatis iure,
          labore molestias iste doloribus deleniti porro doloremque vero quasi illum dolorem perferendis, dolore laudantium?
          Obcaecati ea tenetur rem, quos quam ex omnis iusto veniam quae tempore at architecto, eum earum pariatur reprehenderit
          quas. Natus expedita quo quaerat doloremque ducimus quibusdam, deleniti unde nihil harum saepe quam ut repellat optio
          officiis facilis nisi iure praesentium eius impedit rem sint. Recusandae fuga accusantium consequuntur alias non
          obcaecati voluptatum error magnam cupiditate natus enim, eveniet numquam magni voluptate sapiente et vitae totam amet
          dignissimos, nostrum excepturi, ut nulla itaque. Recusandae nemo facere suscipit adipisci perferendis dicta
          exercitationem dignissimos blanditiis. Libero dolor aliquid quia officia? Fugit asperiores expedita quasi voluptas
          possimus voluptatibus veniam consequuntur assumenda aperiam, excepturi dolore rerum fuga error sint, temporibus pariatur
          distinctio vero adipisci illum, dolor magni laudantium quisquam omnis at? Est officiis, inventore ab error quasi iste at
          architecto nesciunt mollitia, neque esse illo sapiente laborum odio, culpa voluptatibus illum alias sit vel dolores ea
          quas ipsum! Itaque aperiam, expedita repudiandae perspiciatis aliquam quod, porro esse corporis sapiente aspernatur
          numquam fugit nemo dolorum voluptatem fuga laudantium ad odit perferendis? Alias, ad? Culpa error numquam repellat quam
          hic sed a, perspiciatis eos excepturi magnam perferendis laborum nam, vero debitis assumenda nihil beatae. Voluptas eos
          similique, expedita quisquam illum dolor commodi architecto? Incidunt, sapiente. Tempore, porro optio. Vero repellendus
          soluta voluptate, amet asperiores ea id ducimus. Commodi esse consequuntur deserunt quod fugiat, recusandae pariatur
          quisquam provident distinctio saepe, eligendi officiis voluptatum temporibus architecto, minus sit quasi? Obcaecati
          nihil perferendis eaque ratione alias corrupti, odit ducimus quaerat et numquam ad at mollitia repellat itaque
          exercitationem, quidem animi architecto temporibus. Autem expedita sed ipsam delectus saepe modi minus blanditiis, quae
          aliquam itaque eaque vel culpa sunt incidunt quos inventore! Necessitatibus sequi veniam recusandae quas nemo laboriosam
          ex dignissimos quod provident, nam dicta pariatur accusamus rerum placeat eos dolor nobis vero sed optio ipsum possimus
          amet consectetur eum ducimus. Aperiam soluta minus odio consequatur officia minima cupiditate similique atque eius.
          Totam quos quidem sapiente illum in velit veritatis sunt, numquam temporibus provident suscipit dolorem quaerat ipsum
          quod repudiandae, est corrupti quibusdam atque, saepe voluptatibus dolore eius? Animi ipsam nemo sequi tempore amet
          facilis, perferendis excepturi corrupti voluptas illum pariatur eos, facere nobis deserunt sit, eius deleniti? Hic
          doloribus maiores, quas in optio eligendi laboriosam! Voluptatum cum id quaerat magni minus illum sapiente rerum
          laudantium omnis, odio dolorum molestiae et culpa distinctio dolorem? Sit illum iusto, itaque ad dolores aliquam non
          doloribus rem cumque repudiandae consectetur recusandae sint odio fuga, cupiditate dolorum suscipit error eum commodi
          officia inventore, eius totam mollitia! Quibusdam, ipsa quos ad, mollitia magni quisquam voluptate inventore itaque,
          temporibus perspiciatis a sunt incidunt quasi. Reiciendis mollitia id explicabo eligendi sit accusantium voluptate ut
          nemo, nam cumque aliquam, illum quia error laudantium libero molestias obcaecati? Consequuntur nisi maxime accusamus cum
          a sit vel saepe labore, doloribus nihil natus veniam officiis laboriosam quam porro quia cumque? Voluptas eos cum
          aperiam fuga laudantium necessitatibus repellat nostrum ipsam. Sint tempore tempora accusamus quisquam dolor facere ab
          eius possimus dolores iure temporibus fugit accusantium dolorem rerum perferendis similique, aspernatur rem. Eius
          officiis nemo laudantium! Ullam, tempora illo. Enim repellat minima nihil rerum? Iste unde rem amet animi. Nulla enim
          dolorem sunt eum laboriosam a saepe id fugit laudantium doloribus dolores, excepturi inventore sapiente facere
          blanditiis fugiat commodi debitis quia animi. Alias hic quisquam magnam tempore enim repellat repudiandae accusamus modi
          quae nam possimus aperiam perferendis, eum suscipit, doloremque maiores, impedit ducimus error laborum obcaecati sint?
          Excepturi suscipit modi eos. Sapiente earum nobis adipisci repellat possimus iusto repudiandae, quam deleniti sit amet
          ut, dolores, dolor ipsum corporis velit voluptatem officia magni nam voluptates numquam. Adipisci, sed commodi voluptate
          minus sequi, delectus voluptatem sunt ea facere facilis minima numquam, neque pariatur mollitia magni corporis eveniet
          nesciunt iste. Voluptatem sapiente reiciendis asperiores quisquam labore atque, dolore quaerat minus quia similique
          magni veniam praesentium doloribus ipsa explicabo quam non molestiae. Accusamus ab esse molestiae voluptates est ducimus
          ipsa neque culpa quae voluptatum, ipsam quos. Aliquid, veniam suscipit ab odit quod optio tenetur aperiam quos quidem
          placeat sequi eaque expedita distinctio enim iusto mollitia labore reprehenderit earum saepe eius? Error quos quam
          perferendis voluptatum dolorem voluptatem beatae aut illo? Hic iure dolores in sit blanditiis! Rem quam eius nihil
          laudantium quas laborum asperiores aspernatur saepe nam, a alias beatae. Enim vel maiores quia a deleniti libero
          expedita, natus eius amet? Assumenda qui dicta, expedita eius exercitationem ullam eligendi voluptatem aliquid nisi
          aperiam dolorum natus mollitia nulla neque magnam laudantium nemo alias nesciunt. Expedita odio reprehenderit
          doloremque, sequi consequatur dolorum voluptatibus? Nesciunt libero et impedit quam animi debitis sequi, ea adipisci
          laudantium reprehenderit reiciendis nemo perspiciatis temporibus vel alias iure cumque praesentium tenetur in,
          voluptates cum? Aperiam, quae!
        </p>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
